<!doctype html>
<html lang="en">
  <head>
    <title>Display Players</title>
  </head>
  <body>
    <h1>List of Players</h1>

    <table>
      <thead>
        <tr>
          <th>Player ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr>
          <td>{{ player.player_id }}</td>
          <td>{{ player.first_name }}</td>
          <td>{{ player.last_name }}</td>
          <td>{{ player.position }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />

    <!-- Back button -->
    <form action="{{ url_for('home') }}" method="get">
      <input type="submit" value="Back to Home" />
    </form>

  </body>
</html>
